#facts {

  .container {

    justify-content: center; // Horizontally center
  align-items: center; // Vertically center (if needed)
  margin-bottom: 10px;
  }

  .IOS1 {
    width: 300px;  /* Set a desired width */
    height: 380px; /* Set a desired height */
    max-width: 300px; /* Optional if you want to ensure it never gets larger */
    max-height: 380px; /* Optional if you want to ensure it never gets larger */
}

.IOS2 {
  width: 300px;  /* Set a desired width */
  height: 380px; /* Set a desired height */
  max-width: 300px; /* Optional if you want to ensure it never gets larger */
  max-height: 380px; /* Optional if you want to ensure it never gets larger */
}

.IOS3 {
  width: 300px;  /* Set a desired width */
  height: 380px; /* Set a desired height */
  max-width: 300px; /* Optional if you want to ensure it never gets larger */
  max-height: 380px; /* Optional if you want to ensure it never gets larger */
}
  .facts-container {
    background-color: rgb(238, 237, 237);
    
    .facts-icon {
      font-size: 2.5rem;
      color: #fcd100;
    }
    .facts-counter {
      font-size: 2.5rem;
      font-weight: 700;
    }
    .facts-title {
      color: black;
    }
  }
}
