#facts {

  .container {

    justify-content: center; 
  align-items: center; 
  margin-bottom: 10px;
  }

  .IOS1 {
    width: 280px;  
    height: 380px; 
    max-width: 300px; 
    max-height: 380px; 
}


  .facts-container {
    background-color: rgb(238, 237, 237);
    
    .facts-icon {
      font-size: 2.5rem;
      color: #fcd100;
    }
    .facts-counter {
      font-size: 2.5rem;
      font-weight: 700;
    }
    .facts-title {
      margin-top: 10px;
      color: black;
    }
  }
}
