.navbar {
  background-color: #ffffff; /* Navbar background color */
}

.navbar-toggler {
  background: transparent; /* Make sure the background is transparent */
  border: none; /* Remove any borders */
}

.hamburger-icon {
  width: 30px;  /* Adjust width and height according to your needs */
  height: auto; /* Keep the aspect ratio */
}

.navbar-collapse {
  transition: max-height 0.3s ease; /* Smooth transition for dropdown */
}

.navbar-toggler-icon {
  background-color: black; /* Color for hamburger icon */
}

.nav-item {
  margin: 5px 0; /* Spacing between items */
}
.logoImage {
  width: fit-content;
  height: 100px;
  max-width: 400px;
  max-height: 100px;
}