.header {
  position: relative; 
  background-color: #b8b238;
  z-index: 999; }

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  width: 40%;
  height: 100%; 
  background-color: white; 
  transform: skew(-10deg); 
  z-index: -1; 
}

.container {
  max-width: 90%;
}

nav {
  display: flex;
  align-items: center; 
  padding: 10px 20px; 
}

.logo {
  margin-right: 10px;
}

.logoImage {
  width: 350px; 
  height: auto;
}

.navbar {
  display: flex; 
  list-style: none; 
  margin-left: auto; /* Push items to the right */
  padding: 0; /* Remove default padding */
}

.nav-item {
  margin: 15px; 
}

.nav-link {
  color: #ffffff; 
  font-weight: 700; 
  text-decoration: none; 
  transition: color 0.3s; 
}


.nav-link:hover {
  color: darken(#000000, 6%); /* Hover effect */
}