#home {
  height: calc(100vh - 100px); /* Set height of the home section */
  position: relative;
  
  > div {
    height: 100%; /* Make inner div full height */
  }

  .home-content {
    position: absolute; /* Positioning to overlay on slideshow */
    top: 20px; /* Adjust vertical position */
    left: 30px;

    height: 100%; /* Ensure it covers full height */
    background-position: center;
    background-size: cover;

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #1f2022; /* Dark overlay */
      opacity: 0.5; /* Opacity for the overlay */
    }

    
  }
}

/* Slideshow Styles */
.slideshow-container {
  position: relative;
  width: 100%; /* Full width for the slideshow */
  overflow: hidden; /* Hide overflow for images */
}

.mySlides {
  display: none; /* Hide slides by default */
}

/* Navigation buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  z-index: 2; /* Ensure buttons are visible above slides */
}

/* Dots/circles */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active,
.dot:hover {
  background-color: #717171; /* Change color on hover */
}