#home {
  height: calc(100vh - 100px);
  position: relative;
  margin-top: 56px;

  @media (min-width: 768px) {
   
  }
  > div {
    height: 100%;
  }
  .home-content {
    height: 100%;
    background-position: center;
    background-size: cover;
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #7a8086;
      opacity: 0.5;
    }
    .intro {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1px;
      
      .title {
        font-weight: bold;
        
        @media (min-width: 768px) {
          font-size: 3rem;
        }
      }
    
      .sub-title {
        margin-top: 20px;
        font-weight: normal;
        max-width: 700px;
        letter-spacing: 1px;
        font-size: 1rem;

        @media (min-width: 768px) {
          font-size: 1.2rem;
        }
      }

      .highlight {
        color: #FFD700; /* Yellow color */
      }
    }
  }
}
