#home {
  height: calc(100vh - 100px); 
  position: relative;
  
  > div {
    height: 100%; 
  }

  .home-content {
    position: absolute; 
    top: 20px; 
    left: 30px;

    height: 100%; 
    background-position: center;
    background-size: cover;

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #1f2022;
      opacity: 0.5; 
    }

    
  }
}


.slideshow-container {
  position: relative;
  width: 100%; 
  overflow: hidden; 
}

.mySlides {
  display: none; 
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

/* Dots/circles */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active,
.dot:hover {
  background-color: #717171; 
}