
.flex {
    display: flex;
    padding-right: 10rem;
  }

.padding-left {
    padding-left: 8rem; 
  }

  .padding-bottom {
    padding-bottom: 1rem; 
  }

  .custom-heading {
    font-size: 55px;
    font-weight: 700;
  }

  body {
    background-color: #F8F8F8 !important;
    padding-top: 100px; 
}
  
.slick-arrow {
  display: none !important;
}

.custom-next-arrow, .custom-prev-arrow {
  display: block !important;
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

  
  .justify-between {
    justify-content: space-between;
  }
  
  .services-title {
    font-size: 60px;
    font-weight: 900;
    color: #b8b238;
    text-align: left;
    font-family: Arial, sans-serif;
    padding-bottom: 30px;
    padding-top: -30px;
    margin-top: -30px;
    padding-left: 10px;
  }


 

.service-list li {
    margin-bottom: 0.5rem;  
    font-size: 1.3rem;
  }
  
  .med-text {
    font-size: 1.3rem;  
  }

  
  .items-center {
    align-items: center;
  }
  
  .space-x-6 {
    gap: 24px; 
  }
  
  .w-2 {
    width: 66.6667%;
  }
  
  .w-1 {
    width: 33.3333%;
  }
  