#facts {

  .container {

    justify-content: center; 
  align-items: center; 
  margin-bottom: 10px;
  }

  .IOS1 {
    width: 280px;  
    height: 380px; 
    max-width: 300px; 
    max-height: 380px; 
}


  
}
