.aboutImage {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
 
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  .two-column-container {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
  }
  
  .text-column {
    flex: 1; 
    margin-right: 20px; 
  }
  .about-description {
    font-size: 0.9rem;
    color: #000000;
  
  .image-column {
    flex: 1; 
  }
  
  .solidFeedingImage {
    width: 100%;
    height: auto; 
    border-radius: 5px; }
  }

  .bg-container{
    margin-bottom: 1000px;
  }
}