#facts {

  .container {

    justify-content: center; 
  align-items: center; 
  margin-bottom: 10px;
  }

  .IOS1 {
    width: 280px;  
    height: 380px; 
    max-width: 300px; 
    max-height: 380px; 
}

.main-header {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
}

.center-text {
  text-align: center; 
}

.main-header .main-title {
  font-size: 40px; 
  width: 100%;
  color: #b8b238;
  font-weight: bold;
}

  
}
